main {
  margin-left: 10%;
  margin-right: 10%;
}
body a {
  color: black;
}
header {
  margin-bottom: 100px;

}
.navbar {
  background-color: #BEB09A;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.3s;
  opacity: 0.9;
  box-shadow: 5px 5px 20px gray;
  z-index: 1000;
}
.navbar a {
  /* float: right; */
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;

}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 15px;
}
.navbar a:hover {
  background-color: #EAE5E1;
  color: black;
}
h1 {
  background-image: url("img.css/étagère-zénithouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0px 350px 0px;
  background-position: center;
  box-shadow: 5px 5px 20px gray;
}
.shadow-box {
  box-shadow: 5px 5px 20px gray;
}
.btn {
  background-color: #BEB09A;
}
.btn:hover {
  background: #CEC3B6;
}
.bg-cosy {
  background-color: #E5D9CB;
}
.b-footer {
  background-color: #BEB09A;
}
#carouselExampleIndicators {
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: auto;
}
/* ***********************googlemap*************** */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.snip1374 {
  position: relative;
  overflow: hidden;
}
.snip1374 img {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.snip1374:hover img,
.snip1374.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/***********************************************calendrier*************************************************/

.rightBtn {
  position: relative;

 
}
.leftBtn {
  position: relative;
} 

#cld {

  height: 50vh;
  background-color: #BEB09A;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}
#enteteCLD {
  width: 100%;
  height: 30%;
  background-color: #BEB09A;
  display: flex;
  flex-direction: column;
}

#cldT {
  width: 100%;
  height: 66.66%;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#avantEtApres {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BEB09A;

}

.cldBtn {
  width: 40%;
  height: 100%;
  border: none;
  background-color: #BEB09A ;
  color: white;
  outline: none;
  transition: 0.2s;
  font-size: 1.5rem;
}
.cldBtn:hover {
  background-color: #ffeeba;

}

#cldBoite {
  width: 100%;
  height: 82%;
  background-color:#ECE8E4;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#jours {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jour {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0;
  font-size: 18px;

}
.semaine {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.case {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  color: black;
  margin: 0;
  font-size: 19px;
}
.case:hover {
  background-color: #C0B49F;

}

.selected {
  background-color: #FFFF00;
  color: #000;
  font-weight: bold;
}
.highlighted-range {
  background-color: #ffeeba;
  color: #333;
  font-weight: bold;
}
/* **********************button navbar********************* */
.navbar-toggler {
  margin-right: 10px;
}
/* ******************************************animation titre************************************** */
.slide-right {
  -webkit-animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/* **********************************************h2 */
.slide-left {
  -webkit-animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

